<div class="bg-gray-100 h-screen">
  <div class="flex flex-row justify-center">
    <div class="px-8 py-12 lg:px-12 lg:py-24 xl:mr-0 w-full md:w-1/2 lg:w-1/3">
      <h1 class="mt-6 text-2xl font-semibold text-red-300 sm:mt-8 sm:text-4xl lg:text-3xl xl:text-6xl">About Cat Blog</h1>
      <h2 class="text-4xl py-6">
        This is only a sample to show that I learn on cornerstone and a little bit more
      </h2>
    </div>
  </div>

  <div class="container mx-auto flex flex-col-reverse md:flex-row justify-around">
    <div class="w-full md:w-1/3 py-8 px-4">
      <h3 class="text-3xl py-6">Vestibulum facilisis sem vel egestas mattis.</h3>
      <p class="text-sm font-light">
        Vivamus non risus quis orci ultricies dignissim. Sed at nunc non ligula varius interdum sit amet facilisis dui. Phasellus sed sem metus. Nullam ornare a orci et faucibus. Suspendisse aliquet a odio ut aliquet. Vestibulum at elit ullamcorper, dapibus quam eu, lacinia felis. Sed id commodo urna. Ut vestibulum elit libero, faucibus varius leo tempor ut. Praesent mauris justo, ultrices eu eros at, feugiat molestie metus. Nam dignissim libero at ultrices placerat. Duis euismod auctor lacinia.
      </p>
    </div>
    <div class="w-full md:w-1/3 py-8 px-4">
      <img src="<%= image_path('wellcome.jpg')%>" class="w-full h-full object-cover object-center rounded-lg"/>
    </div>
  </div>
</div>